.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 2%;
}

.header__picture-wrapper {
	width: 30%;
}

img {
	margin: 0 auto;
	width: 300px;
}

.header__intro {
	width: 70%;
	padding: 0 50px;
}

.header__title {
	font-size: 3rem;
	margin: 0 auto;
	margin-bottom: 10px;
}

.header__subtitle {
	margin: 0 auto;
}

.subtitle {
	font-size: 1.75rem;
}
